asgiref
certifi
charset-normalizer
coverage
Django
django-rest-auth
djangorestframework
djangorestframework-simplejwt
flake8
flake8-quotes
idna
mccabe
Pillow
psycopg2
pycodestyle
pyflakes
PyJWT
pytz
requests
six
sqlparse
urllib3