################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker compose run --rm --no-deps api eval pip list --outdated
#
# To update this run
#     docker compose run --rm --no-deps api pip_freeze
#
################################################################################
asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
coverage==7.8.0
cryptography==44.0.3
dj-rest-auth==7.0.1
Django==5.2.1
django-allauth==65.8.0
django-rest-auth==0.9.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
flake8==7.2.0
flake8-quotes==3.4.0
idna==3.10
mccabe==0.7.0
oauthlib==3.2.2
pillow==11.2.1
psycopg2==2.9.10
pycodestyle==2.13.0
pycparser==2.22
pyflakes==3.3.2
PyJWT==2.9.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==80.4.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
